.env
.gitattributes
.github/
app/*
artisan
auth.json
babychakra-PHP_Style_Guide.txt
bootstrap/
composer.phar
config/
database/*
gulpfile.js
node_modules/
package-lock.json
package.json
phpspec.yml
phpunit.xml
public/
readme.md
resources/
scripts/
server.php
storage/
tests/
util-scripts/
vendor/

!.gitignore
!database/migrations
!app/Models